{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}

    {% from "_navbar.html" import navbar_user %}

    <header class="bg">
        {{ navbar_user(user) }}

        
        <div class="container position-relative padding-hero">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">Buscador de Libros</h1>
                        <form class="input-group mb-3" action="/" method="post">

                            <input type="text" class="form-control p-3" placeholder="Busqueda por: isbn, titulo o autor" aria-label="Search" aria-describedby="button-addon2" name="search">
                
                            <button class="btn btn-primary" type="submit" >Buscar</button>
                
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </header>

    <div class="container my-3">

        {% if books%}
        <h4 class="my-5 text-center">Resultados</h4>
        {% endif %}


        <div class="row">

            {% for t in books %}

                <div class="col-sm-12 col-md-6 col-lg-4 m-auto">
                    
                    <div class="card m-auto mb-4" style="max-width: 18rem;">
                        <div class="card-header bg border-0">
                            <h5 class="card-title"> {{t.title}} </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text fs-5">isbn: {{t.isbn}}</p>
                            <p class="card-text fs-5">Autor: {{t.author}}</p>
                            <p class="card-text fs-5">Lanzamiento: {{t.year}}</p>
                            <a href="/book/{{t.isbn}}" class="btn btn-primary">Ver libro</a>
                        </div>
                    </div>

                </div>

            {% else %}

                <p class="text-center fs-1">No se encontraron coincidencias</p>

            {% endfor %}

        </div>

    </div>

{% endblock %}

